In [33]:
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa

In [34]:
df_games = pq.read_table("datasets/Parquet/games.parquet").to_pandas()
df_reviews = pq.read_table("datasets/Parquet/reviews.parquet").to_pandas()
df_items = pq.read_table("datasets/Parquet/items.parquet").to_pandas()
df_recomendacion = pq.read_table("datasets/Parquet/EP_ML_recomendacion.parquet").to_pandas()

### Creamos los dataframes para los endpoints

In [35]:
# Unir df_games con df_reviews para su uso en los endpoints
df_games_reviews = pd.merge(df_games, df_reviews, left_on='id', right_on='item_id', how='inner')
df_games_reviews.head()

,genres,app_name,price,id,developer,release_year,item_id,recommend,user_id,posted_year,sentiment_analysis
0,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,EizanAratoFujimaki,2015,2
1,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,GamerFag,2011,0
2,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,76561198020928326,2014,2
3,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,Bluegills,2013,2
4,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,76561198071955492,2013,2

In [36]:
# Unir df_games_reviews con df_items para su uso en los endpoints
df_completo = pd.merge(df_games_reviews, df_items, on =['user_id','item_id'], how='inner')
df_completo.head()

,genres,app_name,price,id,developer,release_year,item_id,recommend,user_id,posted_year,sentiment_analysis,playtime_forever,items_count,item_name
0,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,EizanAratoFujimaki,2015,2,23.25,391,Half-Life
1,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,GamerFag,2011,0,9.83,64,Half-Life
2,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,76561198020928326,2014,2,93.32,110,Half-Life
3,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,76561198020928326,2014,2,93.32,110,Half-Life
4,"[Action, Adventure]",Half-Life,9.99,70,Valve,1998,70,True,Bluegills,2013,2,1.07,1280,Half-Life

In [37]:
# Creamos Dataframe para función developer
df_developer = df_games[['developer', 'price', 'release_year']]
df_developer.head()

             developer  price  release_year
0            Kotoshiro   4.99          2018
1     Secret Level SRL   0.00          2018
2         Poolians.com   0.00          2017
3                 彼岸领域   0.99          2017
4  Trickjump Games Ltd   3.99          2018

In [38]:
# Exportamos df_developer en formato parquet
tabla = pa.Table.from_pandas(df_developer)
pq.write_table(tabla,"datasets/Parquet/EP_developer.parquet")

In [39]:
# Creamos Dataframe para función userdata
df_userdata = df_games_reviews[['price', 'item_id', 'recommend', 'user_id', 'posted_year']]
df_userdata.head()

   price  item_id  recommend             user_id  posted_year
0   9.99       70       True  EizanAratoFujimaki         2015
1   9.99       70       True            GamerFag         2011
2   9.99       70       True   76561198020928326         2014
3   9.99       70       True           Bluegills         2013
4   9.99       70       True   76561198071955492         2013

In [40]:
# Exportamos df_userdata en formato parquet
tabla = pa.Table.from_pandas(df_userdata)
pq.write_table(tabla,"datasets/Parquet/EP_userdata.parquet")

In [41]:
# Creamos Dataframe para función UserForGenre
df_userforgenre = df_completo[['genres', 'release_year', 'user_id', 'posted_year', 'playtime_forever', 'items_count']]
df_userforgenre.head()

,genres,release_year,user_id,posted_year,playtime_forever,items_count
0,"[Action, Adventure]",1998,EizanAratoFujimaki,2015,23.25,391
1,"[Action, Adventure]",1998,GamerFag,2011,9.83,64
2,"[Action, Adventure]",1998,76561198020928326,2014,93.32,110
3,"[Action, Adventure]",1998,76561198020928326,2014,93.32,110
4,"[Action, Adventure]",1998,Bluegills,2013,1.07,1280

In [42]:
# Exportamos df_userforgenre en formato parquet
tabla = pa.Table.from_pandas(df_userforgenre)
pq.write_table(tabla,"datasets/Parquet/EP_userforgenre.parquet")

In [43]:
# Creamos Dataframe para función best_developer_year
df_bestdeveloperyear = df_games_reviews[['developer', 'release_year', 'recommend', 'user_id', 'posted_year', 'sentiment_analysis']]
df_bestdeveloperyear.head()

,developer,release_year,recommend,user_id,posted_year,sentiment_analysis
0,Valve,1998,True,EizanAratoFujimaki,2015,2
1,Valve,1998,True,GamerFag,2011,0
2,Valve,1998,True,76561198020928326,2014,2
3,Valve,1998,True,Bluegills,2013,2
4,Valve,1998,True,76561198071955492,2013,2

In [44]:
# Exportamos df_bestdeveloperyear en formato parquet
tabla = pa.Table.from_pandas(df_bestdeveloperyear)
pq.write_table(tabla,"datasets/Parquet/EP_bestdeveloperyear.parquet")

In [45]:
# Creamos Dataframe para función developer_reviews_analysis
df_developeranalysis = df_games_reviews[['developer', 'posted_year', 'sentiment_analysis']]
df_developeranalysis.head()

  developer  posted_year  sentiment_analysis
0     Valve         2015                   2
1     Valve         2011                   0
2     Valve         2014                   2
3     Valve         2013                   2
4     Valve         2013                   2

In [46]:
# Exportamos df_developeranalysis en formato parquet
tabla = pa.Table.from_pandas(df_developeranalysis)
pq.write_table(tabla,"datasets/Parquet/EP_developeranalysis.parquet")

# Función developer

In [47]:
def developer(developer_name, df=df_developer):
    """
    Función para obtener información sobre los juegos desarrollados por un desarrollador específico.

    Args:
        developer_name (str): El nombre del desarrollador a buscar.

        Ejemplos:
            - Capcom
            - Valve
            - Ubisoft - San Francisco

        df (DataFrame): El DataFrame que contiene los datos de los juegos.

    Returns:
        DataFrame: Un DataFrame con información sobre los juegos desarrollados por el desarrollador especificado.
    """
    # Convertir el nombre del desarrollador a minúsculas para una comparación sin distinción entre mayúsculas y minúsculas
    developer_name = developer_name.lower()
    
    # Filtrar el DataFrame por el nombre del desarrollador
    df_filtered = df[df['developer'].str.lower() == developer_name]
    
    # Si no se encuentra ninguna coincidencia, devolver un mensaje personalizado
    if df_filtered.empty:
        return f"No se encontraron juegos desarrollados por '{developer_name}'."
    
    # Agrupar por año y contar el número de elementos por grupo
    grouped = df_filtered.groupby('release_year').agg({'developer': 'count', 'price': lambda x: (x == 0).sum()})
    grouped.columns = ['Cantidad de Items', 'Contenido Free']
    
    # Calcular el porcentaje de contenido gratuito
    grouped['Contenido Free'] = (grouped['Contenido Free'] / grouped['Cantidad de Items'] * 100).round(2).astype(str) + '%'
    
    # Renombrar la primera columna como "Year"
    grouped.index.name = 'Year'
    
    return grouped

In [48]:
resultado = developer('valve')
resultado

      Cantidad de Items Contenido Free
Year
1998                  1           0.0%
1999                  1           0.0%
2000                  2           0.0%
2001                  1           0.0%
2003                  1           0.0%
2004                  5           0.0%
2005                  1         100.0%
2006                  2           0.0%
2007                  3         33.33%
2008                  1           0.0%
2009                  1           0.0%
2010                  2          50.0%
2011                  1           0.0%
2012                  2          50.0%
2014                  7         100.0%
2016                  1         100.0%
2017                  2           0.0%

# Función userdata

In [49]:
import pandas as pd

def userdata(user_id, df_userdata=df_userdata):
    """
    Esta función calcula la cantidad de dinero gastado por un usuario en juegos, el porcentaje de recomendación
    y la cantidad de items que ha adquirido. Utiliza un DataFrame df_userdata.

    Parámetros:
    user_id (str): El identificador único del usuario del que se desean obtener los datos.

        Ejemplos:
        - Sp3ctre
        - shinomegami
        - Terminally-Chill

    df_userdata (DataFrame): DataFrame que contiene información sobre los juegos, incluyendo precios, recomendaciones y usuarios.

    Retorna:
    dict: Un diccionario que contiene la siguiente información:
          - 'Usuario': El identificador único del usuario.
          - 'Dinero gastado': La cantidad total de dinero gastado por el usuario en juegos.
          - '% de recomendación': El porcentaje de recomendación promedio dado por el usuario en sus reseñas.
          - 'Cantidad de items': El número total de juegos adquiridos por el usuario.
    """

    # Copiar el DataFrame para evitar SettingWithCopyWarning
    df_userdata_copy = df_userdata.copy()
    
    # Convertir todos los user_ids a minúsculas para evitar problemas de mayúsculas y minúsculas
    df_userdata_copy['user_id'] = df_userdata_copy['user_id'].str.lower()
    user_id = user_id.lower()

    # Filtrar df_userdata_copy por el user_id dado
    user_items = df_userdata_copy[df_userdata_copy['user_id'] == user_id]

    # Verificar si se encontraron items para el user_id dado
    if user_items.empty:
        return f"No se encontraron items para el usuario {user_id}"
    
    # Calcular el porcentaje de recomendación
    recommend_percentage = user_items['recommend'].mean() * 100
    
    # Calcular el total gastado por el usuario
    total_spent = int(user_items['price'].sum())
    
    # Contar la cantidad de items del usuario
    num_items = len(user_items)
    
    # Crear el diccionario de resultados
    result = {
        "Usuario": user_id,
        "Dinero gastado": f"{total_spent} USD",
        "% de recomendación": f"{recommend_percentage:.2f}%",
        "Cantidad de items": num_items
    }
    
    return result

In [50]:
usuario_x_data = userdata("kappaKaiju")
print(usuario_x_data)

{'Usuario': 'kappakaiju', 'Dinero gastado': '29 USD', '% de recomendación': '100.00%', 'Cantidad de items': 1}

# Función UserForGenre

In [51]:
def UserForGenre(genre, df_userforgenre=df_userforgenre):
    """
    Esta función busca al usuario que ha acumulado más horas jugadas en un género específico y devuelve una lista de la acumulación de horas jugadas por año de lanzamiento para ese género.

    Parámetros:
    - genre (str): El género para el cual se quiere encontrar al usuario con más horas jugadas.

    Ejemplos:
        - Action
        - Adventure
        - Strategy

    - df_userforgenre (DataFrame): El DataFrame que contiene información sobre los ítems, incluyendo las columnas 'user_id' para el usuario, 'playtime_forever' para las horas jugadas, 'genres' para los géneros del juego, y 'release_year' para el año de lanzamiento.

    Retorna:
    - dict: Un diccionario con dos claves:
        - 'Usuario con más horas jugadas para [Género]': El usuario que ha acumulado más horas jugadas en el género especificado.
        - 'Horas jugadas': Una lista de diccionarios donde cada uno contiene el año de lanzamiento y las horas jugadas acumuladas para ese año en el género dado.

    Ejemplo de uso:
    >>> prueba = UserForGenre("Action", df_userforgenre)
    >>> print(prueba)
    {'Usuario con más horas jugadas para Action': 'us213ndjss09sdf', 'Horas jugadas': [{'Año': 2013, 'Horas': 203}, {'Año': 2012, 'Horas': 100}, {'Año': 2011, 'Horas': 23}]}
    """
    
    # Convertir el género a minúsculas para hacer la comparación insensible a mayúsculas y minúsculas
    genre_lower = genre.lower()
    
    # Filtrar el DataFrame por el género especificado
    genre_data = df_userforgenre[df_userforgenre['genres'].apply(lambda x: genre_lower in [g.lower() for g in x])]
    
    # Verificar si no se encontraron datos de horas jugadas para el género especificado
    if genre_data.empty:
        return {"No se encontraron datos. Verifica si el dato ingresado es correcto"}
    
    # Obtener el usuario con más horas jugadas para el género dado
    top_user = genre_data.groupby('user_id')['playtime_forever'].sum().idxmax()
    
    # Filtrar las horas jugadas por el usuario con más horas jugadas para el género dado
    top_user_data = genre_data[genre_data['user_id'] == top_user]
    
    # Obtener la acumulación de horas jugadas por año de lanzamiento
    year_hours = top_user_data.groupby('release_year')['playtime_forever'].sum()
    
    # Ordenar la lista de diccionarios por el valor del año de lanzamiento de forma descendente
    year_hours_list = [{'Año': year, 'Horas': hours} for year, hours in sorted(year_hours.items(), key=lambda x: x[0], reverse=True)]

    return {"Usuario con más horas jugadas para " + genre: top_user, "Horas jugadas": year_hours_list}

In [52]:
prueba = UserForGenre("adventure")
print(prueba)

{'Usuario con más horas jugadas para adventure': 'wolop', 'Horas jugadas': [{'Año': 2006, 'Horas': 10712.88}]}

# Función best_developer_year

In [53]:
def best_developer_year(year, df_bestdeveloperyear=df_bestdeveloperyear):
    """
    Esta función devuelve el top 3 de desarrolladores con juegos más recomendados por usuarios para el año dado.

    Parámetros:
    - year (int): El año para el cual se quiere obtener el top 3 de desarrolladores.

    Años utilizables:
        - 2010
        - 2011
        - 2012
        - 2013
        - 2014
        - 2015    
    
    - df_bestdeveloperyear (DataFrame): El DataFrame que contiene la información sobre los juegos, incluyendo las columnas 'developer' para el desarrollador del juego, 'posted_year' para el año de la revisión, 'recommend' para la recomendación del usuario y 'sentiment_analysis' para el análisis de sentimiento.

    Retorna:
    - list: Una lista con los tres principales desarrolladores para el año dado, en formato de diccionarios donde cada uno tiene una clave 'Puesto' seguida del número de puesto y el valor del desarrollador.

    Ejemplo de uso:
    >>> best_developer_year(2022, df_bestdeveloperyear)
    [{'Puesto 1': 'DeveloperX'}, {'Puesto 2': 'DeveloperY'}, {'Puesto 3': 'DeveloperZ'}]
    """
    # Filtrar los juegos por el año dado y por recomendaciones positivas (recommend=True) y sentimiento positivo (sentiment_analysis=2)
    filtered_data = df_bestdeveloperyear[(df_bestdeveloperyear['posted_year'] == year) & (df_bestdeveloperyear['recommend'] == True) & (df_bestdeveloperyear['sentiment_analysis'] == 2)]
    
    # Comprobar si no hay datos para el año especificado
    if filtered_data.empty:
        return "No se encontraron datos para el año especificado."
    
    # Contar las recomendaciones por desarrollador
    developer_counts = filtered_data['developer'].value_counts().reset_index(name='Count')
    
    # Obtener el top 3 de desarrolladores con juegos más recomendados para el año dado
    top_developers = developer_counts.nlargest(3, 'Count')

    # Extraer el nombre del desarrollador de cada fila y convertirlo en una lista
    developers_list = top_developers['developer'].tolist()

    # Formatear el resultado en el formato deseado
    result = [{"Puesto " + str(index + 1): developer} for index, developer in enumerate(developers_list)]

    # Devolver el resultado
    return result

In [54]:
prueba = best_developer_year(2013)
print(prueba)

[{'Puesto 1': 'Valve'}, {'Puesto 2': 'Facepunch Studios'}, {'Puesto 3': 'Re-Logic'}]

# Función developer_reviews_analysis

In [55]:
def developer_reviews_analysis(developer, df_developeranalysis=df_developeranalysis):
    """
    Analiza las revisiones de los usuarios para un desarrollador específico y devuelve un diccionario con el nombre del desarrollador como clave y una lista con la cantidad total de registros de reseñas de usuarios clasificados como positivos o negativos.

    Parámetros:
    - developer (str): El nombre del desarrollador del que se analizarán las revisiones.

        Ejemplos:
            - Capcom
            - Valve
            - Ubisoft - San Francisco

    - df_developeranalysis (DataFrame): El DataFrame que contiene las revisiones de los usuarios y la información de los juegos mergeados.

    Retorna:
    - dict: Un diccionario con el nombre del desarrollador como clave y una lista con la cantidad total de registros de reseñas de usuarios clasificados como positivos o negativos.

    Si el desarrollador especificado no existe en los datos, la función devuelve un mensaje indicando que no se encontraron datos para ese desarrollador.

    Ejemplo de retorno:
    {'Valve': {'Negative': 930, 'Positive': 5410}}
    """

    # Convertir el nombre del desarrollador proporcionado a minúsculas para una comparación sin distinción entre mayúsculas y minúsculas
    developer_lower = developer.lower()

    # Copiar el DataFrame para evitar SettingWithCopyWarning
    df_developeranalysis_copy = df_developeranalysis.copy()

    # Convertir todos los nombres de desarrolladores en el DataFrame a minúsculas para una comparación sin distinción entre mayúsculas y minúsculas
    df_developeranalysis_copy['developer'] = df_developeranalysis_copy['developer'].str.lower()

    if developer_lower not in df_developeranalysis_copy['developer'].unique():
        return "No se encontraron datos para el desarrollador especificado."

    # Filtrar las reviews por el desarrollador dado
    filtered_reviews = df_developeranalysis_copy[df_developeranalysis_copy['developer'] == developer_lower]

    # Filtrar las reviews por sentimiento positivo (2) y negativo (0)
    positive_reviews = filtered_reviews[filtered_reviews['sentiment_analysis'] == 2]
    negative_reviews = filtered_reviews[filtered_reviews['sentiment_analysis'] == 0]

    # Contar la cantidad de reviews positivas y negativas
    positive_count = len(positive_reviews)
    negative_count = len(negative_reviews)

    # Crear el diccionario con el resultado
    resultado = {f'{developer}': {'Negative': negative_count, 'Positive': positive_count}}

    return resultado

In [56]:
prueba = developer_reviews_analysis('valve')
print(prueba)

{'valve': {'Negative': 930, 'Positive': 5410}}

# Función recomendacion_juego

In [57]:
def recomendacion_juego(id_juego, df_recomendacion=df_recomendacion):
    """
    Función que devuelve las recomendaciones de juegos para un juego específico según su ID. 
    
    Parámetros:
        id_juego (int): El ID del juego del cual se desean obtener las recomendaciones.

        Ejemplos:
            - 774277
            - 643980
            - 772540

    Retorna:
        list: Una lista de nombres de juegos recomendados para el juego especificado por su ID.
              Si no se encuentran recomendaciones para el ID dado, se devuelve un mensaje indicando que no se encontraron recomendaciones.
    """
    try:
        # Buscar las recomendaciones para el juego especificado por su ID
        recomendaciones = df_recomendacion[df_recomendacion['id'] == id_juego]['recomendaciones'].values[0]
        return list(recomendaciones)
    except IndexError:
        # Si no se encuentra el juego en el DataFrame de recomendaciones, devolver un mensaje indicando que no se encontraron recomendaciones
        return "No se encontraron recomendaciones para el ID {id_juego}"

In [58]:
recomendacion_juego(643980)

['Fort Triumph',
 'Heroes of Arca',
 'Fantasy Grounds - No Legged Fiends (Token Pack)',
 'Fantasy Grounds - Dungeons & Dragons: Shackles of Blood',
 'MINDNIGHT']